@page "/"
@using API.Models;
<h1>Bem-vindo</h1>

<p>Vamos realizar seu Pre-Cadastro</p>


<SurveyPrompt Title="Dados Básicos" />

<!-- Formulário Principal -->

<form>
    <fieldset class="grupo">
        <div class="campo">
            <label for="name"><strong>Nome Completo </strong></label>
            <input type="text" name="nome" id="nome" size="60" required />
        </div>

        <div class="campo">
            <label for="tratamento"><strong>Tratamento </strong></label>
            <input type="text" name="tratamento" id="tratamento" size="40" required />
        </div>
    </fieldset>

    @*<fieldset>
            <div class="campo">
                <label for="email"><strong>Email: </strong></label>
                <input type="email" name="email" id="email" required />
            </div>
        </fieldset>*@

    <!-- Tipo de Pessoa -->



    <div class="check">
        <label><strong>Tipo de Pessoa:</strong></label>
        <br />
        <label>
            <input type="radio" name="tipoPessoa" @*value="@SelectedValue" *@ id="fisica" /> Física
        </label>
        <label>
            <input type="radio" name="tipoPessoa" value="juridica" /> Jurídica
        </label>
    </div>

    <!-- Criar if para habilitar pelo tipo de pessoa -->
    <!-- Pessoa Física-->
    <fieldset class="grupo">
        <div class="campo">
            <label for="cpf"><strong>CPF</strong></label>
            <input type="text" name="cpf" id="cpf" required @*@bind="campoCPF" *@ disabled />
        </div>
        <div class="campo">
            <label for="rg"><strong>RG</strong></label>
            <input type="text" name="rg" id="rg" required disabled />
        </div>
        <div class="campo">
            <label for="cnpj"><strong>CNPJ</strong></label>
            <input type="text" name="cnpj" id="cnpj" required disabled />
        </div>
    </fieldset>

    <!-- Pessoa Jurídica-->
    <fieldset class="grupo">
        <div class="campo">
            <label for="iEstadual"><strong>Inscrição Estadual</strong></label>
            <input type="text" name="iEstadual" id="iEstadual" disabled />
        </div>
        <div class="campo">
            <label for="iMunicipal"><strong>Inscrição Municipal</strong></label>
            <input type="text" name="iMunicipal" id="iMunicipal" disabled />
        </div>
    </fieldset>
    <fieldset class="grupo">
        <div class="campo">
            <label for="regime"><strong>Regime Tributário</strong></label>
            <input type="text" name="regime" id="regime" disabled />
        </div>
        <div class="campo">
            <label for="contribuinte"><strong>Contribuinte</strong></label>
            <input type="text" name="contribuinte" id="contribuinte" disabled />
        </div>
    </fieldset>


    <SurveyPrompt Title="Logradouro" />

    <fieldset class="grupo">
        <div class="campo">
            <label for="endereco"><strong>Endereço</strong></label>
            <input type="text" name="endereco" id="endereco" size="60" />
        </div>
        <div class="campo">
            <label for="numero"><strong>Nº</strong></label>
            <input type="text" name="numero" id="numero" size="1" />
        </div>
    </fieldset>
    <fieldset class="grupo">
        <div class="campo">
            <label for="complemento"><strong>Complemento</strong></label>
            <input type="text" name="complemento" id="complemento" />
        </div>
        <div class="campo">
            <label for="bairro"><strong>Bairro</strong></label>
            <input type="text" name="bairro" id="bairro" size="30" />
        </div>
        <div class="campo">
            <label for="cep"><strong>CEP</strong></label>
            <input type="text" name="cep" id="cep" size="20" />
        </div>
    </fieldset>

    <fieldset class="grupo">

        <div class="campo">
            <label for="cidade"><strong>Cidade</strong></label>
            <input type="text" name="cidade" id="cidade" size="20" />
        </div>
        <div class="campo">
            <label for="estado"><strong>Estado</strong></label>
            <input type="text" name="estado" id="estado" size="20" />
        </div>
    </fieldset>

    <SurveyPrompt Title="Principais Contatos" />

    <fieldset class="grupo">
        <div class="campo">
            <label for="nomeContato"><strong>Nome</strong></label>
            <input type="text" name="nomeContato" id="nomeContato" size="60" />
        </div>
        <div class="campo">
            <label for="telefone"><strong>Telefone</strong></label>
            <input type="text" name="telefone" id="telefone" size="15" />
        </div>
    </fieldset>
    <fieldset class="grupo">
        <div class="campo">
            <label for="email"><strong>E-mail</strong></label>
            <input type="email" name="email" id="email" size="35" />
        </div>
        <div class="campo">
            <label for="setor"><strong>Setor</strong></label>
            <input type="text" name="setor" id="setor" />
        </div>
    </fieldset>
    <div class="check">
        <label><strong>Definir contato como:</strong></label>
        <br />
        <label>
            <input type="checkbox" name="definirContato" value="signatario" /> Signatário
        </label>
        <br />
        <label>
            <input type="checkbox" name="definirContato" value="RepresentanteLegal" /> Representante Legal
        </label>
    </div>

    <!-- Botão para enviar formulário -->

    <button class="btn btn-primary" type="submit" onsubmit=""><strong>Enviar</strong></button>

</form>

@*@code{
        //[Parameter]
        //public TValue SelectedValue { get; set; }

        //private void OnChange(ChangeEventArgs args)
        //{
        //    CurrentValueAsString = args.Value.ToString();
        //}

        public bool tipoPessoa, pessoaFisica, pessoaJuridica, campoCPF;
        public bool fisicaBool { get; set; }

        private void HabilitarCampos()
        {
            if (fisicaBool == true)
            {

            }
        }

        private void HabilitarJuridica()
        {

        }
    }*@









<br />
@*<table>
        <tr>
            <td>CNPJ:</td>
            <td><input type="text" name="cnpj" size="8"> - <input type="text" name="cnpj2" size="5">  <br /></td>
        </tr>
        <tr>
            <td>Inscrição Estadual:</td>
            <td><input type="text" name="inscricaoEstadual" size="30"> <br /></td>
        </tr>
        <tr>
            <td>Inscrição Municipal:</td>
            <td><input type="text" name="inscricaoMunicipal" size="30" value="Não declarado"> <br /></td>
        </tr>
        <tr>
            <td>Regime Tributário:</td>
            <td><input type="text" name="regimeTributario" size="30" value="Simples Nacional"> <br /></td>
        </tr>
        <tr>
            <td>Contribuinte:</td>
            <td><input type="text" name="contribuinte" size="30" placeholder="Contribuinte ICMS"> <br /></td>
        </tr>
        <tr>
            <td>Razão Social:</td>
            <td><input type="text" disabled="disabled" name="RazaoSocial" size="60"> <br /></td>
        </tr>
        <tr>
            <td>Nome Fantasia:</td>
            <td><input type="text" name="nomeFantasia" size="60" @bind="txtName" /> <br /></td>
        </tr>
        <tr>
            <td></td>
            <td2>
                <p>
                    <button @onclick="ForTable">Enviar para tabela </button>
                </p>
            </td2>
        </tr>
    </table>*@


@code
{

    public string txtName, txtTelefone, txtEmail;
    List<tbl_Clientes_PreCadastro_Contato> Contatos = new List<tbl_Clientes_PreCadastro_Contato>();
    public string habilitar = "disabled";

    private void ForTable()
    {
        var contato = new tbl_Clientes_PreCadastro_Contato();
        //if (!string.IsNullOrWhiteSpace(txtName))
        //{
        contato.Contato = txtName;
        contato.Telefone = txtTelefone;

        Contatos.Add(contato);
        //}
    }

}

@*<input @bind="result" />*@


@*<p>
        <h5>Logradouro:</h5>
    </p>*@

@*<table>
        <tr>
            <td>Rua:</td>
            <td><input type="text" name="Rua" size="40"> Número: <input type="text" name="cnpj2" size="5">  <br /></td>
        </tr>
        <tr>
            <td>Bairro:</td>
            <td><input type="text" name="Bairro" size="40"><br /></td>
        </tr>
        <tr>
            <td>CEP:</td>
            <td><input type="text" name="Bairro" size="20"><br /></td>
        </tr>
    </table>
    <p></p>
    <Todo />*@



@* <Counter IncrementAmout="10" /> *@

